
.button-simple{
    padding: 14px 40px 17px;
    border: none;
    outline: none;
    background: #FE5F1E;
    border-radius: 30px;
    transition: all 300ms;
    cursor: pointer;
    &__content{
        display: flex;
        align-items: center;
        gap:0 14px;
    }
    &:hover{
        background: #e1490d;
    }
    &__icon{
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        // border: 1px solid red;
    
        svg{
            width: 100%;
            height: 100%;
        }
    }
    &__text{
        font-family: 'Proxima Nova Lt';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.015em;
        color: #FFFFFF;
     
        
    }
    &--sombre{
        background: #282828;
        &:hover{
            background: #1e1d1d;
        }
    }
    &--light{
        background: #FFFFFF;
        border: 1px solid #D3D3D3;
        border-radius: 30px;
        .button-simple{
            &__text{
                color: #CACACA;

            }
        }
    }
   
}
