*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@keyframes loading { 
    from{
      left: 0;
      background: #dbdada;
  
    }
    to{
      left: 100%;
      background: rgb(198, 196, 196);
    }
}



 body{
	font-family: 'Proxima Nova Cn Rg';
    background: #FFDF8C;
    padding: 42px 50px 64px;
 }

 .wrapper{
    max-width: 1359px;
    width: 100%;
    margin: 0 auto;
    padding: 0 62px;
 }

 .App{
    background: #FFFFFF;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
 }

 ul{
    list-style: none;
 }

a{
    text-decoration: none;
    color: none;
}

 // logo site component
 .logo{
    &__row{
        display: flex;
        gap: 0 17px;
    }
    &__img{
        flex-shrink: 0;
        width: 38px;
        height: 29.29px;
        display: flex;
        img{
            max-width: 100%;
            height: auto;
        }

    }
    &__title{
        font-family: 'Proxima Nova Cn Th';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #181818;
        // border: 1px solid red; 
    }
    &__subtitle{
        font-family: 'Proxima Nova Rg';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #7B7B7B;
        // border: 1px solid;
        margin-top: -6px;
    }
 }

//  button cart in header component
 .button-cart{
    background: #FE5F1E;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 15px 23px;
    cursor: pointer;
    transition: all 300ms ;
    &:hover{
        background: #d64107;
    }
    &__row{
        display: flex;
        gap:0  27px;
    }
    &__price,&__quantity{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        
    }
    
    &__info{
        display: flex;
        gap: 0 8px;
        position: relative;
        &::before{
            content: '';
            display: block;
            position: absolute;
            left: -13px;
            top: -5px;
            width: 1px;
            height: 25px;
            background: rgba(255, 255, 255, 0.25);
           
        }
    }
    &__icon{
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        svg{
            width: 100%;
            height: 100%;
        }
    }

 }







 

