.button-control{
    background: unset;
    border: unset;
    outline: unset;
    display: inline-block;
    cursor: pointer;
    &--light{
        .button-control{
            &__icon{
                border: 2px solid  #BDBABA;
                svg{
                    path{
                        fill:#BDBABA;
                    }
                }
            }
        }
    }
    &__icon{
        width: 32px;
        height: 32px;
        border: 2px solid #FE5F1E;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        svg{
            path{
                fill:#FE5F1E;
            }
        }

    }
}